body {
    overflow: hidden;
    height: auto;
}
::-webkit-scrollbar {
    display: none;
}
.window-bar{
     display: none;
}
.body-inner {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: -28px;
}

#view_goals,
#view_budget,
#view_appointments,
#view_strategy {
    display: block;
    width: 100vh;
    height: 100vh;
    transform: rotate(270deg);
    overflow: hidden;
    margin: auto;
}
.menu_tab{
    page-break-inside : avoid;
    page-break-before : always;
}

body * {
    color: black;
    -webkit-text-fill-color: black;
    overflow-x: visible;
    overflow-y: visible;

}

.strategy_annbudget_input,
.tab_title_wrapper,
.col_mid_empty,
.row_heading .tb_cell,
.row_heading2 .tb_cell,
.empty_space,
.goals_row_2 {
    border-color: white;
}
.main_header{
    display: none;
}
.tab_title{
    padding-top: 0;
    padding-bottom: 0;
}
.company_wrapper {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
    width: 50%;
    text-align: right;
}
.company_wrapper input, .company_wrapper input[type="text"]:disabled {
    color: #000000;
    font-size: 16px;
    background-color: transparent;
}
.goals_row_3 {
    background-color: transparent;
}

.add-row,
.tool-tip-icon,
.edit,
.tab_title_right,
.remaining_budget_wrap,
.strategy_btn_wrapper {
    display: none;
}

.monthly_q2 .seo_text,
.monthly_q3 .seo_text,
.monthly_q4 .seo_text{
    visibility: hidden;
}
#view_appointments .col_wrap .row_heading .tb_cell{
    font-size: 8px;
    letter-spacing: normal;
}
#view_appointments .content_area .col_2 .row_heading .tb_cell {
    font-size: 9px;
}
#view_appointments .col_5 .text1 {
    padding-top: 9px;
}
.fixed-bottom {
    position: relative;
}
.add-row-cell{
    display: none;
}
.strategy_annapp_input,
* input {
    border-color: transparent;
}

.totals,
.totals input::-webkit-input-placeholder,
.totals input {
    background-color: white;
}

.year_wrap {
    border: 1px solid black;
    background-color: white;
    padding: 3px;
}

.right-scroll,
.left-scroll {
    display: none;
}


#view_appointments .col_month, #view_appointments .col_month .fixed-bottom {
    width: calc(45vh / 12);
}
#view_appointments .monthly {
    display: inline-block;
    width: 45vh;
}
#view_appointments .col_2 {
    width: 45vh;
}
#view_appointments .col_3, #view_appointments .col_3 .fixed-bottom{
    width: 8vh;
    min-width: 10px;
}
#view_appointments .col_4, #view_appointments .col_4 .fixed-bottom{
    width: 5vh;
    min-width: 10px;
}
#view_appointments .col_5, #view_appointments .col_5 .fixed-bottom {
    width: 7vh;
    min-width: 10px;
}
#view_appointments .col_5 input, #view_appointments .col_5 .fixed-bottom input{
    width: 92%
}
#view_appointments .col_6, #view_appointments .col_6 .fixed-bottom {
    width: 8vh;
     min-width: 10px;
}
#view_appointments .col_6 .row_heading .tb_cell {
    margin-right: 0;
}
#view_appointments .col_6 .tb_cell {
    padding-right: 0;
}
#view_appointments .col_7, #view_appointments .col_7 .fixed-bottom {
    width: 11vh;
}
#view_budget .col_month, #view_budget .col_month .fixed-bottom {
    width: calc(58vh / 12);
    min-width: 7px;
    display: inline-block;
    vertical-align: top;
}
#view_budget .col_2 input {
    text-align: center;
    width: 80%;
}
#view_budget .col_3{
    width: 9vh;
}
#view_budget .col_4{
    width: 15vh;
}
#view_budget .col_2,
#view_budget .monthly{
    width: 58vh;
}
#view_strategy .col_5 {
    width: 23vh;
}
#view_strategy .col_4 {
    width: 14vh;
}
#view_strategy .col_3 {
    width: 22vh;
}
#view_strategy .col_2 {
    width: 19vh;
}
#view_strategy .col_1 {
    width: 21vh;
}
.print_title{
    vertical-align: middle;
}
.print_name{
    font-size: 2vh;
}
.print_year{
    font-size: 1.5vh;
}